
h1 {
  text-align: center;
  color: orange;
  text-size: 50px;
  font-family: 'Pacifico', cursive; 
}

h2 {
margin-left: 2em;
font-family: 'Indie Flower', cursive;
}

p {
margin-left: 3em;
font-family: 'Indie Flower', cursive;

}

ul {
margin-left: 4em;
margin-right: 4em;
background-color: orange;
font-family: 'Indie Flower', cursive;
}

img {
  display: block;
  margin: 0 auto;
}

.final {
font-family: 'Pacifico', cursive;
}
  
